{{ form_start(form) }}
{% for error in errors %}
    <p>{{ error.message }}</p>
{% endfor %}
        {{ form_errors(form) }}
<div class="form-row">
    <div class="form-group col-12">
        {{ form_label(form.label) }}
        {{ form_widget(form.label) }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-8">
        <span class="text-uppercase">{{ form_label(form.IBAN) }}</span>
        {{ form_widget(form.IBAN) }}
    </div>
    <div class="form-group col-lg-4">
        <span class="text-uppercase">{{ form_label(form.BIC) }}</span>
        {{ form_widget(form.BIC) }}
    </div>
</div>
<div class="form-row">
    <div class="container  text-center">
        <input type="submit" class="btn btn-outline-primary col-6" value="Valider" >
    </div>
</div>
{{ form_end(form) }}
