<nav aria-label="..." class="m-3">
    <ul class="pagination pagination-sm justify-content-center">
        {% if currentPage != 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ path(routeName, {'page' : 1} ) }}" ><<</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ path(routeName, {'page' : currentPage - 1} ) }}">{{ currentPage - 1 }}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="{{ path(routeName, {'page' : currentPage} ) }}">
                {{ currentPage }} <span class="sr-only">(current)</span>
            </a>
        </li>
        {% if currentPage < lastPage %}
            <li class="page-item"><a class="page-link" href="{{ path(routeName, {'page' : currentPage + 1} ) }}">{{ currentPage + 1 }}</a></li>
            <li class="page-item">
                <a class="page-link" href="{{ path(routeName, {'page' : lastPage} ) }}">>></a>
            </li>
        {% endif %}
    </ul>
</nav>